<% if(files){ %>
<% files.forEach(function(file) { %>
  <div class="card card-body mb-3">
    <% if(file.isImage) { %>
      <%= file.filename %>
      <img src="image/<%= file.filename %>" alt="">
      <% } else { %>
      <a href = "/files/<%= file.filename %>" target = "_blank"><%= file.filename %></a>
      <% } %>
      <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
        <button class="btn btn-danger btn-block mt-4">Delete</button>
      </form>
  </div>
  <% }) %>
<% } else { %>
      <p>No files to show</p>
<% } %>
