<div class="row">
    <div class="col-md-8 grid">
        <% breakies.forEach( breakie => { %>
            <div class="cell">
                <img src="/image/<%= file.filename %>" alt="">
                <h5 class="cell-title"><%= breakie.name %></h5>
                  <p class="purple-text "><i class="fas fa-map-marker-alt"></i> <%= breakie.creator.address %></p>
                   
                  <p class="purple-text ">Breakie distance</p>
                  <p class="cell-price">$<%= breakie.price %>.00</p>
                  <a class="btn-original" href="/breakie/show/<%= breakie._id %>">Makan!</a>
            </div>
        <% }) %>
    </div>
    <div>
        map
    </div>

</div>



