    <div class="col-md-3">
        <p id="breakie" style="display: none; "><%= JSON.stringify(breakie) %></p>
        <div id="breakieInfo">
            <h5 class="orange-text display-inline"><%= breakie.name %>  </h5>
            <span class="badge badge-pill badge-secondary"><%= breakie.cuisine.type %></span>
            <% if (currentUser != null && currentUser._id.equals(breakie.creator._id) ) { %>
                <a class="orange-text" href="/breakie/edit/<%= breakie._id %>"><i class="fas fa-edit"></i></a>
            <% } %>    
            <img class="display-block" src="/image/<%= breakie.image %>" alt="Meow">
            <a class="purple-text" id="creator" href="/user/show/<%= breakie.creator._id %>">@<%= breakie.creator.username %></a>
            <p class="grey-text mb-1"><%= breakie.desc %></p>
            <span class="medium-text purple-text" id="addr"><%= breakie.creator.address %></span>
            <h5 class="orange-text">Ingredients</h5>
            <% breakie.ingredients.forEach( ing => { %>
                <span class="badge badge-pill badge-secondary"><%= ing.type %></span>
            <% }) %>
        </div>
    </div>
    <div class="col-md-9">
        <div id="indi-breakie-map" class="mt-2">
            Google Maps
        </div>
        <div class="show-cal-price purple-text medium-text center-text mt-2">
            <% let buttonText = "Place order" %>
            <% let disabled = "" %>  

            <% if (breakie.qty <= 0) { %>
               <p>This dish is sold out! Come back another time.</p>
               <% buttonText = "Sold out" %>
               <% disabled = "disabled" %>  
            <% } else { %>
                <div class="display-inline">
                    <span>$</span><span id="price"><%= breakie.price %>   x</span> 
                </div>    
                <input class="center-text display-inline form-control" style="width: 50px;" type="number" value="1" min="1" name="qty" id="qty" max="<%= breakie.qty %>" required>
            <% } %>
            <% if (currentUser == null) { %> 
                <!-- person does not have account -->
                <p class="center-text mt-2 mb-0">Total: $<span id="totalPrice">1</span></p>
                <button type="submit" <%= disabled %> class="btn-gradient mt-2" id="submitBtn" type="submit"><%= buttonText %></button>
            <% } else if (!currentUser._id.equals(breakie.creator._id)) { %>
                <!-- this person has an account  -->
                <% if (breakie.qty > 0) { %> 
                    <p class="center-text mt-2 mb-0">Total: $<span id="totalPrice">1</span></p>
                <% } %> 
                <button type="submit" <%= disabled %> class="btn-gradient mt-2" id="immediatePost" type="submit"><%= buttonText %></button>
            <% } %> 
        </div> 
    </div>

<script>
    document.getElementById("qty").addEventListener('change', updateTotalPrice => {
        // document.getElementById("totalPrice").textContent = parseInt(event.target.value) * parseInt(document.getElementById("price").textContent);
        document.getElementById("totalPrice").textContent = parseInt(event.target.value) * parseInt(document.getElementById("price").textContent);        
    });

    if (document.getElementById("immediatePost") != null)
        document.getElementById("immediatePost").addEventListener('click', postRequest);

    if (document.getElementById("submitBtn") != null)
        document.getElementById("submitBtn").addEventListener('click', askForContacts);

    function postRequest() {
        let breakieId = window.location.href.split("show/")[1];
        let obj = {
            price: document.getElementById("totalPrice").textContent,
            items: [{
                breakie: breakieId,
                qty: parseInt(document.getElementById("qty").value)
            }]
        };
        if (document.getElementById("contactInfo")) // this person is not logged in
            obj.buyerContact = document.getElementById("contactInfo").value;
        $.post(`/breakie/purchase/${breakieId}`, obj).
        done( () => {
            let title = "Order has been placed successfully!"; 
            let text = "";
            let confirmButtonText = "";
            if (obj.buyerContact) {
                text = `Please be at ${document.getElementById('addr').textContent} as soon as possible!
                            ${document.getElementById('creator').textContent} will be waiting for you!
                            We recommend taking a screenshot to remember the location!`;
                confirmButtonText = "Got it!"
            }
            else confirmButtonText = "View order"
            Swal.fire({
                title: title,
                text: text,
                confirmButtonText: confirmButtonText
            }).
            then( result => {
                if (!obj.buyerContact && result.value)
                    window.location = "/order/";
            })
         }).
        fail( err => console.log(err) );
    }

    function askForContacts(event) {
        let phoneNumber = document.createElement("input");
        let para = document.createElement("p");
        let submitBtn = document.createElement("button");
        let div = document.createElement("div");
        phoneNumber.placeholder = "9xxxxxx";
        phoneNumber.id = "contactInfo";
        phoneNumber.required = true;
        phoneNumber.type = "number";
        para.textContent = "You are not logged in, please enter your contact information instead:";
        submitBtn.id = "secBtn";
        submitBtn.classList.add("btn-gradient");
        submitBtn.classList.add("mt-3");
        submitBtn.textContent = "Purchase";
        submitBtn.addEventListener('click', postRequest);
        document.getElementById("submitBtn").remove();
        div.classList.add("center-text");
        div.appendChild(para);
        div.appendChild(phoneNumber);
        div.appendChild(submitBtn);
        document.getElementById("container").appendChild(div);
    }

    // function initMap() {
        
    //     let breakie = JSON.parse(document.getElementById("breakie").innerText);
    //     let sellerCoords = {lat: parseFloat(breakie.creator.location.coordinates[1]), lng: parseFloat(breakie.creator.location.coordinates[0])};
    //     var map = new google.maps.Map(
    //         document.getElementById('indi-breakie-map'), {zoom: 14, center: sellerCoords });
    //     let marker = new google.maps.Marker({position: sellerCoords, map: map});
    // }
</script>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
</script> -->